body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 60px;
    font-family: "Lato";
    background-color: #FAFAFA;
    max-width: 100%
}
.AWE-FLUXO-DE-JOBS{
    max-width: 100%;
}
.flex {
    display: flex;
}

a {
    text-decoration: none;
}
@media (max-width:600px) {
    .AWE-FLUXO-DE-JOBS {
        flex-direction:column;
    }
}