body{
    font-family: Inter;
}
.blog-historia{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-top: 60px;
    font-family: Inter;
    background-color: #ffffff;
    width: 100%
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@media (max-width:568px) {
    .blog-historia{
        flex-direction:column;
    }
}