.series {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.series a {
    text-decoration: underline;
}

.series .cards {
    display: flex;
    justify-content: center;
    align-items: center;
}

.series .card {
    width: 280px;
    height: 260px;
    border: 1px solid #EB5151;
    border-radius: 5px;
    margin: 20px;
}

/*------------------------*/
.historia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 160px;
}

.historia div p {
    color: #C11616;
}

.historia div div {
    border: 1px solid #C11616;
    width: 60px;
    margin-left: 24px;
    margin-top: 14px;
}

.historia div {
    padding: 0.10%;
}

.historia .menu {
    display: flex;
}

.historia .menu ul li {
    padding: 6px;
}

.historia .menu ul li a {
    color: #3C4B58;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
}

/*------------------------*/
footer {
    background: #EFF2F7;
    height: 52px;
    width: 100%;
}

footer .img {
    display: flex;
    padding-top: 14px;
    justify-content: center;
}