header {
    background-color: #203C86;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    height: 114px;
}

.mini-logo {
    margin-left: 200px;
    padding: 3%;
}

ul{
    margin-top: 60px;
    align-items: flex-start;
    gap: 43px;
}

ul li {
    flex-direction: row;
    flex-wrap: wrap;
}
ul li:hover {
    font-weight: 900;
}
